nav{
    background: #F6F5F4;
    box-shadow: inset 0px -1px 0px #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.container1{
    margin: 0 auto;
    display: flex;
    align-items: center
}
@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Regular.ttf)
}
@font-face {
    font-family: 'Dela Gothic One';
    src: url(./fonts/DelaGothicOne-Regular.ttf);
}
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.div1:hover{
    color: #000000;
}
.a1{
font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 20.8609px;
line-height: 100%;
letter-spacing: -0.02em;
color: #000000;
}
.a2{
font-family:'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
letter-spacing: -0.04em;
color: #757575;
}
.a3{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
letter-spacing: -0.04em;
color: #757575;
}
.a4{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
letter-spacing: -0.04em;
color: #757575;
}
.games{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
letter-spacing: -0.04em;
color: #757575;
}
.menu{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
color: #828282;
}
.audio{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
color: #828282;
}
.login{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: -0.04em;
color: #000000;
border-radius: 12px;
background: #F6F5F4;
border-color: transparent;
}
.signup{
flex-direction: row;
padding: 11px 18px;
gap: 10px;
width: 90px;
height: 36px;
background: #2B788B;
border-radius: 12px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 100%;
display: flex;
align-items: center;
letter-spacing: -0.04em;
color: #FFFFFF;
margin-right: 300px;
border-color: transparent;
}
.container2{
    display: flex;
    justify-content: space-between
}
.dropbtn{
    background: #F6F5F4;
    border-color: transparent;
}
h4{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0.14em;
text-transform: uppercase;
color: #2B788B;
}
h1{
    font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 120%;
letter-spacing: -0.04em;
color: #000000;
}
p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 140%;
letter-spacing: -0.04em;
color: #757575;
}
.btn1{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 22px;
gap: 19px;
width: 165px;
height: 44px;
background: #C3DCE3;
border-radius: 100px;
border-color: transparent;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;
display: flex;
align-items: center;
letter-spacing: -0.04em;
color: #2B788B;
}
.number{
    font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 100%;
letter-spacing: -0.02em;
color: #000000;
}
.plus{
    font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 100%;
letter-spacing: -0.02em;
color: #2B788B;
}
.mini{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
letter-spacing: -0.04em;
color: #585858;
}
.popular{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
letter-spacing: -0.04em;
color: #585858;
}
.class1{
    background: #F6F5F4;
    flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;

height: 740px;

    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center
}
.div2{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.att-2{
    padding-right: 100px;
}
.class2{
    background: #FFFFFF;
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
z-index: 3;
margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class3{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F5F4;
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
z-index: 4;
}
.class4{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
z-index: 5;
}
.txtbook{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 22px;
gap: 19px;
width: 131px;
height: 44px;
background: #C3DCE3;
border-radius: 100px;
display: flex;
align-items: center;
letter-spacing: -0.04em;
color: #2B788B;
border-color: transparent;
}
.statistics{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 22px;
gap: 19px;
width: 129px;
height: 44px;
background: #C3DCE3;
border-radius: 100px;
border-color: transparent;
display: flex;
align-items: center;
letter-spacing: -0.04em;
color: #2B788B;
}
.Home{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 100%;
color: #757575;
}
.TextBook{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
}
.Stat{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
}
.Sprint{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
}
.Audio{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
}
.Alex{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
}
.Gabriel{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
}
.Marcus{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #757575;
}
.class5{
   align-items:center;
   justify-content: space-between;
}